# For a detailed guide to building and testing on iOS, read the docs:
# https://circleci.com/docs/2.0/testing-ios/

version: 2.1
jobs:
  ### Swift lint job
  swiftlint:
    docker:
      - image: dantoml/swiftlint:latest
    steps:
      - checkout
      - run: swiftlint lint --reporter junit | tee swiftlintResults.xml
      - store_artifacts:
          path: swiftlintResults.xml
      - store_test_results:
          path: swiftlintResults.xml

  ### Build & test job
  build-and-test:
    macos:
      xcode: 13.3.1
    working_directory: /Users/distiller/project/KarhooUISDK.xcworkspace
    environment:
      FASTLANE_LANE_TEST: UISDK_unit_tests
    shell: /bin/bash --login -eo pipefail
    steps:
      - checkout
      - run:
          name: Set Ruby Version
          command: |
           sudo gem install bundler
      - restore_cache:
          name: Restore cache - Load installed gems from cache if possible -
          keys:
            - gem-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - gem-cache-v1-{{ arch }}-{{ .Branch }}
            - gem-cache-v1
#      - run: bundle install
      - run:
          name: Install Gemfile for Fastlane
          command: |
           echo Bundler version: $(bundle -v) 
           bundle config set --local path 'vendor/bundle'
           bundle check || bundle install
      - save_cache:
          name: Save cache - Save installed gems from previous step -
          key: gem-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run:
          name: Decode Keys.swift
          command:
           echo "$CLIENT_KEYS" | base64 --decode > Client/Keys.swift
      - run:
          name: Install CocoaPods
          command: |
           bundle check || bundle install
           bundle exec pod install --repo-update --verbose
      - run:
          name: Run unit test
          command: bundle exec fastlane $FASTLANE_LANE_TEST
      - run:
          name: Fastlane Xcov report
          command: bundle exec fastlane ios XcovReport

      # Collect XML test results data to show in the UI, and save the same XML
      # files under test-results folder in the Artifacts tab
      - store_artifacts:
          path: test_output
          destination: scan-output
      - store_test_results:
          path: test_output
          
  adhoc:
    macos:
      xcode: 13.2.1
    environment:
      FL_OUTPUT_DIR: output
      FASTLANE_LANE_TEST: UISDK_unit_tests
    steps:
      - checkout
      - run: bundle install
      - run:
          name: Fastlane
          command: bundle exec fastlane $FASTLANE_LANE_TEST
      - store_artifacts:
          path: $FL_OUTPUT_DIR

workflows:
  build-test-adhoc:
    jobs:
      - swiftlint
      - build-and-test
      - adhoc:
          filters:
            branches:
              only: development
          requires:
            - build-and-test
